
.header{
padding: 40px auto;
background-color: #4CAF50;
margin-bottom: 40px;
display: flex;
justify-content: center;
}
button{
  height: 40px;
}
.search-form{
  padding: 20px;
  
}
.input{
  width: 300px;
  height: 40px;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;
}

.gallery__item {
  margin-right: auto;
  margin-left: auto;
  margin: 15px;
}

.photo-card {
  width: 400px;
  padding: 5px 20px;
  border: 1px solid #eeeeee;
  
}
.gallery__photo {
  display: block;
  width: 360px;
  height: 240px;
}
.info{
 display: flex;
}
.info-item {
 display: flex;
 text-align: center;
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.load-more{
  margin: 50px auto;
  display: block;
  background-color: #4CAF50;
  color: whitesmoke;
 

}
.load-more:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}

